@import 'reset';
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
	overflow: visible;
    background-color: #f9f8f8;
    font-size: 16px;
    width: 100%;
    height: 2253px;
	font: 12px/1.5 Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,\5b8b\4f53,sans-serif;
}
h2,p{
	    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",\9ED1\4F53,\5b8b\4f53,sans-serif;
}
.header{
	background: #323232;
	height: 30px;
	position: relative;
	img{
		width: 58px;
		height: 18px;
		margin: 6px 30px;
		float: left;
	}
	.nav{
		float: left;
		margin: 0px -13px;
	}
	.ul1{
		float: left;
		li{
			padding: 0px 18px;
			float: left;
			line-height:30px;
			position: relative;
			a{
				font-size: 14px;
				color: silver;
				font-weight: 700;
			}
		}
		.triangle:before,.triangle1:before,.triangle2:before{
			content: "";
		    display: block;
		    position: absolute;
		    top: -12px;
		    left: 22px;
		    width: 0;
		    height: 0;
		    font-size: 0;
		    border-width: 6px 4px;
		    border-style: solid;
		    border-color: transparent transparent #fff;
		}
		.switch-Community:hover .triangle{
			display: block;
		}
		.switch-Shopping:hover .triangle1{
			display: block;
		}
		.switch-Reserve:hover .triangle2{
			display: block;
		}
		.nav-list:nth-child(5){
			img:nth-child(1){
				position: absolute;
			    top: -4px;
					left: 49px;
			    width: 44px;
			    height: 12px;
			}
			img:nth-child(2){
				position: absolute;
			    top: 8px;
			    left: 57px;
			    width: 12px;
			    height: 7px;
			}
		}
		.text-1{
			top: 0;
		    left: 100%;
		    padding-left: 4px;
		    background: 0 0;
		    white-space: normal;
		    position: absolute;
		    z-index: 200;
		    border-radius: 4px;
		    min-width: 100px;
		    display: none;
		}
		.cont{
		    	position: static;
			    display: block;
			    padding: 0 20px;
			    width: 570px;
			    z-index: 200;
			    border-radius: 4px;
			    min-width: 100px;
			    background: #fff;
			    box-shadow:  0 0 3px rgba(0,0,0,.1);
			    .item{
			    	    padding: 8px 0;
							height: 30px;
						line-height: 30px;
						.more{
							float: right;
							font-size: 14px;
							display: block;
						    height: 30px;
						    color: #636363;
						}
						span{
							font-size: 16px;
							color: #636363; 
						}
			    }
			    .item1{
			    	 border-top: 1px dashed #ededed;
			    	 padding-left: 90px;
			    	 line-height: 26px;
			    	dt{
			    		float: left;
						margin-left: -90px;
						padding-top: 8px;
						font-size: 16px;
						color: #323232;
			    	}
			    	dd{
			    	 	padding: 5px 0;
						font-size: 0;
						a{
							display: inline-block;
						    margin: 0 2px;
						    padding: 5px 4px 0;
						    height: 25px;
						    line-height: 25px;
						    border-radius: 3px;
						    font-size: 14px;
						    white-space: nowrap;
						    vertical-align: top;
						}
			    	}
			    	a:hover{
			    	background: #e3fae1;
			    	}
			    }
		    }
	}
	li:hover a{
		color: #10B041;
	}
	.triangle,.triangle1,.triangle2{
		position: absolute;
	    white-space: nowrap;
	    display: none;
	    left: 0px;
	    z-index: 10;
	    margin-top: -2px;
	    .ul2{
	    	background: #fff;
	    	border-radius: 4px;
    	    padding: 5px 0px;
	    	li{
	    		width: -webkit-fill-available;
    		    padding: 2px 20px;
			    height: 30px;
			    line-height: 30px;
			    font-size: 16px;
			    color: #636363;
			    white-space: nowrap;
			    background: #fff;
			    a{
				    height: 30px;
				    color: #636363;
				    font-weight: 100;
				    .icon{
				    	font-size: 20px;
				    	margin-right: 7px;
				    }
			    }
	    	}
	    	li .yl{
	    		font-size: 26px;
				margin-right: 7px;
	    	}
	    	li:hover{
	    		background-color: #e3fae1;
	    	}
	    	li:nth-child(1):hover .text-1{
	    		display: block;
	    	}
	    }
	}
	.nav-r{
			float: right;
			margin-right: 30px;
			margin-top: -1px;
			i:nth-child(1){
				font-size: 22px;
			    line-height: 30px;
			    margin-left: -28px;
			    color: silver;
			}
			.ic{
				font-size: 20px;
				color: silver;
				margin-left: 15px;
				margin-top:2px;
				display: inline-block;
			}
			i:nth-child(1):hover{
				cursor:pointer;
			}
			span{
				line-height: 30px;
				display: inline-block;
				color: #ccc;
				margin-left: 10px;
			}
			.icon{
				font-size: 19px;
				color: silver;
				margin-left: 15px;
			}
			.icon:hover{
				cursor:pointer;
			}
			a{
				margin-left: 18px;
				font-size: 14px;
				color: #fff;
				font-weight: 700;
			}
			.c1{
				color: #fff;
				font-size: 12px;
			}
			.btn{
				position: absolute;
			    border: 0;
			    width: 20px;
			    height: 20px;
			    line-height: 30px;
			    background-color: transparent;
			    cursor: pointer;
			    transition: all .2s ease-in-out;
			    i{
			    	display: inline-block;
			    	margin-top: 1px;
			    }
			}
			.c-1:hover .c1{
				color: #10b041;
				z-index: 10px;
			}
			.inp{
				position: absolute;
				top: 5px;
				right:253px;
				transition: all .2s ease-in-out;
				width:0px;
				height: 20px;
			    border:0;
			    border-radius: 3px;
			}
			.c-1:hover .inp{
				width: 200px;	
			}
			i:hover{
				color: #10B041;
			}
			a:hover{
				color: #10B041;
			}
	}
}
.top-bg{
	width: 100%;
    height: 182px;
    position: relative;
    margin-bottom: 8px;
    img{
    position: absolute;
    right: 0;
    bottom: 0;
    margin:auto;
    display: block;
    z-index: 0;
    left: 0;
    }
    a{
    position: absolute;
    right: 109px;
    bottom: 0;
    color: #999;
   	z-index: 2;
    font-size: 18px;
    display: block;
    }
}
.upper{
	width: 1160px;
	height: 616px;
	margin: 0px auto;
	.up-l{
	width: 764px;
	height: 454px;
	float: left;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    .banner{
    	position: relative;
    	overflow: hidden;  
    	width: 764px;
    	height: 461px;	
		img{
			width: 764px;
			height: 454px;
		}
    }
    	@charset "utf-8";
/*=============初始化样式
===================================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #666;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    outline: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    word-wrap: break-word;
}

button,input,select,textarea {
    outline: 0;
    resize: none;
    -webkit-appearance: none;
}

body,button,input,select,textarea {
    font-size: 14px;
    font-family: Segoe UI,Lucida Grande,Helvetica,Arial,Microsoft YaHei,FreeSans,Arimo,Droid Sans,wenquanyi micro hei,Hiragino Sans GB,Hiragino Sans GB W3,sans-serif;
}

body {
    width: 100%;
    font-size: 18px;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background: #EEEEEE;
    font-family: "微软雅黑",Helvetica,sans-serif;
    margin: auto;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

li,ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
}

strong {
    font-weight: 700;
}

p {
    color: #666;
    line-height: 1em;
    word-wrap: break-word;
}

em {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: none;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #d70000;
}

.clearfix:after,.clearfix:before,.container:after,.container:before,.modal-footer:after,.modal-footer:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.pager:after,.pager:before,.panel-body:after,.panel-body:before,.row:after,.row:before {
    display: table;
    content: " ";
}

.clearfix:after,.container:after,.modal-footer:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after {
    clear: both;
}


/*nav*/
.nav{
    width:100%;
    max-width: 768px;
    height:1.6rem;
    background:#ffffff;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    margin: auto;
    z-index:2;
    overflow: hidden;
}

.nav-bg-dw{
    width:100%;
    height:1.6rem;
    overflow: hidden;
}

.logo > img{
    width:4.27rem;
    height:1.6rem;
}

.logo{
    width: 35%;
    height:1.6rem;
    float:left;
    display:block;
    background-color: #d70000;
}

.logo > img {
    display: block;
    width: 100%;
}

.nav-list{
    width: 65%;
    float:left;
    height: 1.6rem;
    overflow: hidden;
    background: url("../../images/base/nav-back.jpg");
    background-size: 100% 100% ;
}

.nav-list > li{
    float:left;
    height: 1.6rem;
}

.nav-list > li > a{
    line-height:1.6rem;
    margin-left:0.7rem;
    font-size:0.58rem;
    color: #ffffff;
    font-weight: bold;
}


/*footer*/
.footer {
    width: 100%;
    background: #dddddd;
    padding: 0.6rem 0 0.6rem;
}

.footer > .footer-logo {
    display: block;
    width: 40%;
    margin: auto;
}

.footer > .footer-logo > img {
    display: block;
    width: 100%;
}
.footer > ul > li {
    display: inline-block;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    padding: 0 0.1rem;
}

.footer > ul > li > a {
    font-size: 0.5rem;
}

.footer > ul > li > a.current {
    color: #0880f1;
}

.footer  > p {
    width: 100%;
    text-align: center;
    font-size: 0.5rem;
}
//
.banner ul{
	width: 20000em !important;
	position: relative;
}
.banner img{
	width: 764px;
	height: 454px;
}
.banner li{
	float: left;
}
.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}
.img-btn-list > span  {
   display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    margin: 0 5px;
    background: rgba(253, 253, 253, 0.8);
    cursor: pointer;
}
.img-btn-list > span.current {
    border: 3px solid rgba(234, 164, 205, 0.8);
    background: rgba(255,255,255,0.8);
}

	}
	.up-r{
	float: right;
    width: 370px;
    height: 454px;
    background-color: #fff;
    border-radius: 8px;
    .up-right{
	    background-color: #333;
	    color: #fff;
	    border-radius: 8px 8px 0 0;
	    position: relative;
	    font-size: 18px;
	    padding: 46px 32px 0;    
	    span{
	    	position: absolute;
	    	background-position: 0 0;
		    width: 107px;
		    height: 49px;
		    left: 32px;
		    top: -8px;
		    text-align: center;
		    padding-top: 6px;
	    	background: url(../images/s1_tip_bg.png)no-repeat;
		    }
			a{
	    	display: inline-block;
	    	width: 100%;
		    height: 50px;
		    line-height: 24px;
		    text-align: center;
		    overflow: hidden;
		    color: #fff;
			}
		}
		.text0{
			text-align: center;
			width: 100%;
			color: #f66;
			font-size: 22px;
			line-height: 32px;
			height: 32px;
			margin-top: 22px;
		}
		.text1{
			width: 100%;
		    text-align: center;
		    font-size: 14px;
		    height: 28px;
		    line-height: 28px;
		    color: #999;
		    font-weight: 200;
		}
		.text2{
			width: 100%;
			height: 80px;
			font-size: 22px;
			text-align: center;
			line-height: 32px;
			color:#333;
			padding-top: 60px;
			font-weight: normal;
			overflow: hidden;
		}
		.text3{
			width: 100%;
			text-align: center;
		    font-size: 14px;
		    height: 28px;
		    line-height: 24px;
		    color: #999;
		}
		.q1{
			display: inline-block;
		    width: 160px;
		    height: 40px;
		    line-height: 40px;
		    background-color: #f66;
		    color: #fff;
		    font-size: 18px;
		    border-radius: 8px;
		    text-align: center;
		    margin-left: 100px;
		}
		.time{
			margin-top: 8px;
		    width: 100%;
		    text-align: center;
		    font-size: 16px;
		    height: 28px;
		    line-height: 28px;
		    color: #f66;
		}
	}
	ul{
		position: absolute;
		margin-top: 480px;
		background: #fff;
		height: 144px;
		li{
			width: 232px;
			float: left;
		}
		.d1{
			width: 100%;
			height: 88px;
			margin-top: 26px;
			border-right: 1px solid #ccc;
		}
		.d1-1{
			width: 100%;
		    text-align: left;
		    font-size: 18px;
		    color: #333;
		    line-height: 24px;
    		height: 24px;
		    margin: 0 4px 20px 38px;
		}
		span{
			display: inline-block;
		    text-align: center;
		    padding-left: 1px;
		    width: 24px;
		    border-radius: 12px;
		    background-color: #6c9;
		    color: #fff;
		    margin-right: 4px;
		}
		.d1-2{
		    height: 40px;
		    line-height: 20px;
			padding: 0 38px;
		    font-size: 14px;
		    color: #999;
		}
	}
}
.previous{
	width: 1160px;
	margin: 0px auto;
	.bq{
		width: 100%;
		height: 44px;
		margin-top: 26px;
		text-align: left;
		border-bottom:1px solid #ccc;
		.cc{
			color: #25a851 !important;
		}
		.h21{
			width: 300px;
			float: left;
			font-size: 24px;
			font-weight:normal;
		}
		.h22{
			float: left;
			width: 300px;
			font-size: 24px;
			font-weight:normal;
			margin-left: -138px;
		}
		.r-btn{
			float: right;
			text-align: right;
			width: 300px;
			margin-top: 15px;
			i{
				background-color: #ccc;
				color: #fff;
				font-size: 20px;
			    text-align: left;
			    line-height: 17px;
			    border: 1px solid #ccc;
			    background-color: #fff;
			    color: #ccc;
			    font-weight: bold;
			}
			.icon1{
				margin-left: 20px;
			}
			i:hover{
				color: orange;
			}
		}
	}
	ul{
		width:1160px;
	    height: 310px;
	    margin-top: 30px;
	    li{
	    	float: left;
		    width: 370px;
		    height: 292px;
		    background-color: #fff;
		    border-radius: 8px;
		    overflow: hidden;
		    -webkit-transform: rotate(0deg);
		    .bgimg{
		    	width: 100%;
		    	height: 165px;
		    	overflow: hidden;
		    	img{
		    		-webkit-transition: all 1.4s ease;
		    		width: 100%;
				    height: auto;
				    margin-top: -28px;
		    	}
		    }
		    a{
		    	p{
		    	margin-top: 16px;
			    width: 96%;
			    padding: 0 18px;
			    font-size: 18px;
			    font-weight: 700;
			    color: #333;
			    line-height: 24px;
			    height: 48px;
			    overflow: hidden;
			    font-weight: bold;
			    text-overflow:ellipsis;
		    	}
		    }
		    .cz{
		    	font-size: 16px;
		    	margin-top: 10px;
		    	text-overflow:ellipsis;
		    	.sp1{
		    		width: 49%;
				    text-align: left;
				    padding-left: 18px;
				    color: #f66;
		    	}
		    	.sp-1{
		    		color:#ccc;
		    	}
		    	.sp2{
		    		width: 49%;
				    display: inline-block;
				    text-align: right;
				    padding-right: 16px;
				    color: #999;
		    	}
		    	.img1{
		    		display: inline-block;
				    width: 30px;
				    height: 30px;
				    border-radius: 15px;
				    vertical-align: -8px;
				    margin-right: 10px;
		    	}
		    }
	    }
	    li:hover{
			box-shadow: 0 2px 14px rgba(0,0,0,.6);
	    }
	    li .bgimg:hover img{
	    	transform: scale(1.08);
	    }
	    li:nth-child(2),li:nth-child(3),li:nth-child(5),li:nth-child(6){
	    	margin-left: 24px;
	    }
	}
	.list1 li:nth-child(4),li:nth-child(5),li:nth-child(6){
		margin-top: 24px;
	}
}














footer{
	position: relative;
	top:-20px;
	width: 100%;
    min-width: 980px;
    text-align: left;
    font: 12px/1.5 helvetica,arial,hiragino sans gb,\\5b8b\4f53,sans-serif;
    color: #959595;
    clear: both;
    font-family: "Hiragino Sans GB","Microsoft YaHei",SimHei,SimSun,sans-serif;
    background: #323232;
    padding-bottom: 25px;
    position:relative;
    top: 196px;
    border-top:3px solid #25a851;
    .bottom1{
    	width: 980px;
    	margin: 0px auto;
    	.p1{
    		margin-top: 36px;
    		margin-left: -15px;
    		a{
    			border-left: solid 2px #636363;
			    padding-left: 8px;
			    margin-right: 8px;
			    color: silver;
			    font-size: 14px;
			    font-weight: 700;
    		}
    	}
    	.p1 a:nth-child(1){
    		border-left: solid 3px #25a851;
    		padding-left: 12px;
    	}
    	.p2{
			font-size: 12px;
		    color: #636363;
		    margin-top: 18px;
    	}
    	.p3{
    		margin-top: 2px;
    		color: #636363;
    		a{
			margin: 0 9px;
			color: #636363;
    		}
    	}
    }
}






































